:host { // The selector of the component(app-node) directly
  padding: 0 !important;
  border: 2px solid black!important;
  border-radius: 10px;

  .node-title{
    text-transform: uppercase;
  }

  .node-body{
    border-top: 2px solid black;

    p{
      margin: 0;
    }
  }
}

:host(.relation){ // The selector of the component when it has the 'relation' class
  border-radius: 100%!important;
  padding-top: 15px!important;
}
