<div (contextmenu)="onSetupNode($event)">
  <div class="node-title">{{ node_title }}</div><!-- Name section -->
  <div class="node-body"><!-- All related attributes -->
    <p 
      *ngFor="let attribute of node_attributes"
      [ngClass]="{identifier: node_type == 'entity' && attribute.is_identifier}"
    >{{ attribute.name }}</p>
  </div>
</div>

<!-- To put the connector sides from the parent(All foblex instructions should be one template) -->
<ng-content select="[node-connectors]"></ng-content>
