<div class="overlay"><!-- The dark background behind the modal -->
  <div class="modal">

    <div class="modal-header">
      <h1>Gestion des informations</h1>
      <button (click)="closeModal()">X</button>
    </div>

    <form [formGroup]="node_form" (ngSubmit)="saveNode()">
      <!-- Hidden input field to the control the current node and its type(which never change) -->
      <input type="hidden" formControlName="node_id" />
      <input type="hidden" formControlName="node_type" />

      <label for="entity_name">Nom de {{ nodeType == "entity" ? "l'entité" : "la relation" }} :</label>
      <input type="text" id="entity_name" formControlName="entity_name" />

      <label for="attributes">Attributs de {{ nodeType == "entity" ? "l'entité" : "la relation" }} :</label>
      <div formArrayName="attributes">
        <div *ngFor="let attr of attributes.controls; let i = index"
          [formGroupName]="i"
        >
          <input type="text" formControlName="name" />
          <select formControlName="type">
            <option value="string">Chaine de caractères</option>
            <option value="number">Nombre</option>
            <option value="boolean">Booléen</option>
          </select>

          <!-- Used to remove the dynamic field -->
          <button type="button" (click)="removeAttributeFields(i)">Supprimer le champs</button>
        </div>
      </div>

      <!-- Used to add new dynamic field -->
      <button type="button" (click)="addAttributeFields()">Ajouter un attribut</button>
      <input type="submit" value="Enregistrer" />
    </form>

    <button (click)="deleteNode()">Supprimer {{ nodeType == "entity" ? "l'entité" : "la relation" }}</button>

  </div>
</div>
