<f-flow fDraggable>
  <f-canvas>
    <f-connection fOutputId="output1" fInputId="input1">
      <div fConnectionContent class="connection-label">
        1,N
      </div>
    </f-connection>

    <app-node
      fNode
      type="entity"
      fDragHandle
      fNodeOutput
      [fNodePosition]="{ x: 32, y: 32 }"
      fOutputId="output1"
      fOutputConnectableSide="right"
    ></app-node>

    <app-node
      fNode
      type="relation"
      fDragHandle
      fNodeInput
      [fNodePosition]="{ x: 240, y: 32 }"
      fInputId="input1"
      fInputConnectableSide="left"
    >
    </app-node>
  </f-canvas>
</f-flow>
