<f-flow
  fDraggable
  (fCreateNode)="onCreateNode($event)"
  (fCreateConnection)="onCreateConnection($event)"
>
  <f-canvas>
    <f-connection-for-create/><!-- For dynamic creation of connection -->

    <!-- Get all nodes that have only an outgoing connection -->
    <app-node
      *ngFor="let node of output_nodes"
      fNode
      fDragHandle
      [node_type]="node.node_type"
      [node_id]="node.node_id"
      [node_title]="node.node_title"
      [node_attributes]="node.node_attributes"
      [fNodePosition]="node.node_position"
      fDragHandle
      [showNodeForm]="show_node_form"
      fNodeOutput
      [fOutputConnectableSide]="node.node_output_connection_side"
      [fOutputId]="node.node_output_id"
    ></app-node>

    <!-- Get all nodes which only have an incoming connection -->
    <app-node
      *ngFor="let node of input_nodes"
      fNode
      fDragHandle
      [node_type]="node.node_type"
      [node_id]="node.node_id"
      [node_title]="node.node_title"
      [node_attributes]="node.node_attributes"
      [fNodePosition]="node.node_position"
      fDragHandle
      [showNodeForm]="show_node_form"
      fNodeInput
      [fInputConnectableSide]="node.node_input_connection_side"
      [fInputId]="node.node_input_id"
    ></app-node>

    <!-- Get all nodes that have both connection side(in and out) -->
    <app-node
      *ngFor="let node of both_nodes"
      fNode
      fDragHandle
      [node_type]="node.node_type"
      [node_id]="node.node_id"
      [node_title]="node.node_title"
      [node_attributes]="node.node_attributes"
      [fNodePosition]="node.node_position"
      fDragHandle
      [showNodeForm]="show_node_form"
      fNodeInput
      fNodeOutput
      [fInputConnectableSide]="node.node_input_connection_side"
      [fOutputConnectableSide]="node.node_output_connection_side"
      [fInputId]="node.node_input_id"
      [fOutputId]="node.node_output_id"
    ></app-node>

    <!-- Just get all existing connexions -->
    <f-connection
      *ngFor="let connection of connection_list"
      [fOutputId]="connection.connection_output_id"
      [fInputId]="connection.connection_input_id"
    >
      <app-connection
        fConnectionContent
        class="connection-label"
        [connection_id]="connection.connection_id"
        [cardinality]="connection.connection_label"
      >
      </app-connection>
    </f-connection>

  </f-canvas>
</f-flow>

<!-- Form used to manage node(entity and relation) data -->
<app-form
  *ngIf="is_node_form_showed"
  [closeModal]="hide_node_form"
  [nodeId]="curent_node_id"
  [nodeType]="curent_node_type"
  [nodeTitle]="curent_node_title"
  [nodeAttributes]="curent_node_attributes"
></app-form>

<div class="palette">
  <div fExternalItem [fData]="{type: 'entity'}">Entité</div>
  <div fExternalItem [fData]="{type: 'relation'}">Relation</div>
</div>
